# requirements.txt
# python -m playwright install chromium
# python -m playwright install --with-deps chromium
playwright>=1.54.0
greenlet>=3.1
aiogram==3.13.1
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.4.0
tqdm==4.66.5
# python -m playwright install chromium

